/* borrowed fonts are "Poppins"
& "Roboto Slab" */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 65px;
  display: block;
  background-color: #101010;
}

.buffer-header {
  width: 100%;
  height: 30px;
  background-image: linear-gradient(270deg, #9cdef1, #31337c);
  background-size: 600% 600%;
  animation: bannerAnimate 10s ease infinite;
}

@keyframes bannerAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.inner-header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

.logo-container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.navigation {
  display: flex;
  margin-left: 50%;

  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 2%;
}

.navigation span a li {
  color: #76a4f9;
}

.navigation a {
  text-decoration: none;
}
.navigation li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  padding: 20px;
}

.navigation li:hover {
  color: #76a4f9;
}

main {
  text-align: center;
  max-width: 1000px;
  margin: 0% auto;
}

.banner {
  background-color: #dbe6f9;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.banner h3 {
  font-size: 28px;
  color: #76a4f9;
}

.banner h2 {
  font-size: 50px;
}

.banner h4 {
  font-size: 25px;
}

.banner h4 span {
  color: #76a4f9;
}

.banner button {
  margin: 20px;
  padding: 10px 20px;
  background-color: #76a4f9;
  color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
}

.banner-foot {
  background-color: #dbe6f9;
  margin: 50px;
  padding: 30px;
  border-radius: 15px;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-weight: 800;
  font-size: 25px;
}

footer {
  text-align: center;
  margin: 0% auto;
  margin-bottom: 50px;
}

footer a {
  color: #76a4f9;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

footer .icons {
  font-size: 25px;
  padding-left: 6px;
  padding-right: 6px;
}

.learn-more-button {
  border-radius: 15px;
  margin: 20px;
  padding: 10px 20px;

  border-color: #76a4f9;
  background-color: #ffffff;
  color: #76a4f9;
  border-radius: 10px;
  font-size: 16px;
}

.learn-more-button:hover {
  background-color: #76a4f9;
  color: #ffffff;
}

main {
  margin-top: 50px;
}

main img {
  max-width: 430px;
}

.row {
  margin: 50px;
}

h5 {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 60px;
}

/* about us page */

h3 {
  color: #76a4f9;
}

h4 span {
  color: #76a4f9;
}

.col {
  padding: 10px;
}

.container {
  max-width: 700px;
}

.selfie {
  max-width: 400px;
  border-radius: 30px;
}

button {
  border-radius: 15px !important;
  margin: 20px;
  padding: 10px 20px;
  border-color: #76a4f9;
  background-color: #ffffff;
  color: #76a4f9;
  font-size: 16px;
}

button:hover {
  background-color: #76a4f9;
  color: #ffffff;
}

.row.align-items-center {
  height: 100%;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main a {
  text-decoration: none;
  color: #76a4f9;
  font-size: 20px;
}

main a:hover {
  text-decoration: underline;
}
.contact-heading {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  margin-top: 50px;
  text-align: center;
}

.contact-content {
  text-align: left;
}

/* Ensure the buttons are vertically aligned below the image */
.project-button-container {
  margin-top: 20px; /* Add spacing between image and button */
  text-align: center; /* Center the button below the image */
}

.work-button {
  display: block; /* Ensures the button behaves as a block element */
  margin: 10px auto; /* Centers the button horizontally */
}

.first-button {
  margin-top: 28px;
}

.work-img {
  max-width: 300px;
  max-height: 170px;
}

/* Add this CSS code to style the burger menu and hide the original navigation for small screens */
#hamburger-icon {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

.mobile-menu {
  display: none;
}

/*skills page*/

.skills > .row > .col > i {
  font-size: 30px;
}

.skills > .row > .col > i:hover {
  color: #76a4f9;
}

.skills-heading {
  margin-bottom: 30px;
}

/* Certs */

.col-container {
  text-align: center;
  position: relative;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the container takes up full height of its parent */
}

.certs {
  width: 300px;
  height: 100px;
  display: flex; /* Use flexbox for text centering */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
}

.certs:hover {
  background-color: #dbe6f9;
  color: #76a4f9;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  #hamburger-icon {
    margin-top: 20px;
    display: block;
    float: right;
  }
  .mobile-menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px; /* Adjust as needed */
    right: 0;
    background-color: #101010;
    width: 100%;
    padding: 20px 0;
  }
  .mobile-menu li {
    list-style: none;
    margin-bottom: 10px;
  }
  .mobile-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
  }

  .row.align-items-center {
    flex-direction: column; /* Stack the columns vertically on small screens */
  }

  .col {
    width: 100%; /* Make each column take up 100% of the width */
  }

  .selfie {
    width: 90%; /* Make the image take up 90% of the width */
    margin: 0 auto; /* Center the image horizontally */
    display: block; /* Ensure the image is displayed as a block-level element */
  }

  /* To ensure the image appears first */
  .col:first-child {
    order: 1; /* Make the image column come first */
  }

  .col:last-child {
    order: 2; /* Make the text column come second */
  }

  .about-me-content {
    text-align: center; /* Center the text */
    margin-bottom: 20px;
  }

  .about-me-content h1,
  .about-me-content h4,
  .about-me-content p {
    text-align: center;
  }
}

/* slidding effects on home page */

/* Initially hidden state for sliding in from the left */
.hidden-left {
  opacity: 0;
  transform: translateX(-50px); /* Slide in from the left */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Initially hidden state for sliding in from the right */
.hidden-right {
  opacity: 0;
  transform: translateX(50px); /* Slide in from the right */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Class to apply when divs come into view */
.show {
  opacity: 1;
  transform: translateX(0); /* Slide to the original position */
}

.mobile-menu {
  display: none;
}
